<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<section>
<div sec:authorize="isAuthenticated()">
<nav class="navbar navbar-dark bg-dark">
	 <div class="container-fluid">
	     <ul class="nav navbar-nav">
  		  </ul>
		 <ul class="nav navbar-nav navbar-right">
		<li>
			<span  class="navbar-text"  sec:authentication="name">Username</span>
			<span  class="navbar-text" sec:authentication="principal.authorities">Roles</span>
		</li>
		</ul>
	</div>
</nav>
</div>

	<div class = "jumbotron">
	<div class = "container">
		<h1>[[#{prod.title}]]</h1>
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="/product_list">Product List</li>
		  </ol>
		</nav>
		<div align ="right">
		<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
			<input type="submit" value="Logout" class="btn btn-info btn-lg"/>
		</form>
		</div>
	</div>
	</div>
</section>
<section>
	<div class ="container" align="center">
			<a class="btn btn-primary btn_lg" href="/product_list/new_product" sec:authorize="hasRole('ADMIN')">Create New Product</a>
		<br/><br/>
	
	
	<nav class = "navbar navbar-light" style="background-color: #e3f2fd;">
		<form class="form-inline" th:action="@{/product_list/page/1/}">
			<input type ="hidden" name="sortField" value="name"/>
		    <input type="hidden"  name="sortDir" value="asc"/>
		    <div class="md-form mt-0">
		    	<div class="col-xs-10">
			    	<input class= "form-control" placeholder="Search" aria-label="Search" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
			    	 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    	 <input  class="btn btn-outline-success my-2 my-sm-0" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
		    	</div>	
		    </div>
		</form>
	</nav>
		
		<table class = "table">
			<thead>
				<tr>
									<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} +'?keyword=' + ${keyword}}">Product ID</a>
				</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
				</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=brand&sortDir=' + ${reverseSortDir}}">Brand</a>
				</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=madein&sortDir=' + ${reverseSortDir}}">Made In</a>
				</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">Price</a>
				</th>
					<th sec:authorize="hasRole('ADMIN')">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
				
					<td th:text="${product.id}">Product Id</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">Made In</td>
					<td th:text="${product.price}">Price</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a class="btn btn-warning btn-sm" th:href="@{'/product_list/edit/' + ${product.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						  
						 <form method="get" action="@{/product_list/delete/' + ${product.id}}"
       					  onclick="return confirm('Are you sure you want to delete this product?') ? true : false;">
								<a class="btn btn-danger btn-sm" th:href="@{'/product_list/delete/' + ${product.id}}">Delete</a>
						</form>
						
					</td>
					
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages > 1}">
		Total Items: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/product_list/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/product_list/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/product_list/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/product_list/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/product_list/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
		<br><br>
	</div>
		</div>
</section>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/product_list}]]";
    }
</script>

</body>
</html>