<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<head>
<meta charset="utf-8"/>
<title>Sale List</title>
</head>
<body>
<section>
	<div class = "jumbotron">
	<div class = "container">
		<h1>Sale List</h1>
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="/sale_list">Sale List</li>
		  </ol>
		</nav>
	</div>
	</div>
</section>
<section>
	<div class ="container" align="center">
			<a href="/sale_list/new_sale">Create New Sale</a>
		<br/><br/>
	<table class = "table">
		<thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sale : ${listSale}">
                <td th:text="${sale.id}">ID</td>
                <td th:text="${sale.item}">Item Name</td>
                <td th:text="${sale.quantity}">Quantity</td>
                <td th:text="${sale.amount}">Amount</td>
                <td>
                    <a th:href="@{'sale_list/edit_sale/' + ${sale.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'sale_list/delete_sale/' + ${sale.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
	</table>
</div>
</section>
</body>
</html>